/* .logo-name {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.menu-links {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 85%;
  box-shadow: none;
}
.home-page {
  background: linear-gradient(to right, #ef5350 50%, #f5f5f5 0%);
  margin: 0;
  padding: 0;
} */
/* .hello-svg{
    margin-top: 15%;
    margin-bottom: 13%;
    margin-left: 30%;
} */
/* .hello-svg {
  margin-top: 15%;
  margin-left: 61%;

} 
.about-me {
  background-color: #f5f5f5;
}
.mg-title {
  margin-left: 5%;
  margin-top: 5%;
}

.bold-p {
  font-family: Quicksand;
  font-weight: 600;
  font-size: px;
}
 */

 .logo-name {
    color: black;
   font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 15%;
  }
  .menu-links {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 85%;
    box-shadow: none;
  } 
.linkss{
  padding-right: 15%;
}
  .home-page {
    background: linear-gradient(to right, #ef5350 50%, #f5f5f5 0%);
    /* height: 640px; */
    height: 565px;
  }
  .hello-svg{
    margin-top: 190px;
    margin-bottom: 20%;
    margin-left: 60px
  } 
  @media screen and
  (min-width: 800px) {
.hello-svg{
  margin-left: 61%;
  margin-top: 138px;
  margin-bottom: 13%;
}}
.about-me {
  background-color: #f5f5f5;
}
.mg-title {
  margin-left: 5%;
  margin-top: 5%;
}
.bold-p {
  font-family: Quicksand;
  font-weight: 600;
  font-size: px;
}
p{
  font-family: Quicksand;
  line-height: 30px;
}
.bren-pic{
  padding-top: 10%;
  margin-bottom: 22%;
}
@media screen and
  (min-width: 800px) {
.bren-pic{
  padding-top: 13%;
  padding-left: 6%
}
